:root {
  --cinza-principal: #505050;
  --cinza-secundaria: #C0C0C0;
  --botao-azul: #167BF7;
  --cor-de-fundo: #00030C;
  --fonte-principal: 'Inter';
  --botao-azul-efeito: #3c8ae9;
  --cor--branco:#fff;

}
body{
     
  background-color:var(--cinza-principal);
  color: var(--cor--branco);
  font-family: var(--fonte-principal);
  font-size: 16px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

  
  
  a {
    font-family: sans-serif;
    text-decoration: none;
  }
  .container__titulo{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.container__botao{
  background-color: var(--botao-azul);
  border-radius: 5px;
  padding: 1em;
  color: var(--branco-principal);
  display: block;
  text-decoration: none;
  margin-bottom: 1em;
  width: 300px;

}

.container__imagem{
  background: center / cover no-repeat url("./OIP.jpeg");
 width: 300px;
 height: 300px;
}

.botao_secundario{
  background: var(--botao-azul);
  border: 2px solid white;
}

.container__aviso {
  font-size: 24px;
  color: var(--cor--branco);
}


  
  header {
    background: rgb(87, 80, 90);
    padding-inline: 16px;
  }
  
  .nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 48px;
   }
   .logof {
    font-size: 60px;
    top: 75%;

   }

  .subtitulo{
    font-size: 30px;
    text-align: left;
    color: #fff;

  }
  
  .nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
  }
  
  .nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
  }
  
  .hero {
    height: calc(100vh - 70px);
    background: center / cover no-repeat url("./OIP.jpeg");
  }
  
  .hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
  }
  
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }
  
  @media (max-width: 750px) {
    .hamburger {
      display: block;
      z-index: 1;
    }
  
    .nav-list {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: rgb(86, 81, 88);
      clip-path: circle(100px at 90% -15%);
      transition: 1s ease-out;
  
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      gap: 0;
  
      pointer-events: none;
    }
  
    .nav-list a {
      font-size: 24px;
      opacity: 0;
    }
  
    .nav-list li:nth-child(1) a {
      transition: 0.5s 0.2s;
    }
  
    .nav-list li:nth-child(2) a {
      transition: 0.5s 0.4s;
    }
  
    .nav-list li:nth-child(3) a {
      transition: 0.5s 0.6s;
    }
  
    /* Estilos ativos */
  
    .nav.active .nav-list {
      clip-path: circle(1500px at 90% -15%);
      pointer-events: all;
    }
  
    .nav.active .nav-list a {
      opacity: 1;
    }
  
    .nav.active .hamburger {
      position: fixed;
      top: 26px;
      right: 16px;
      border-top-color: transparent;
    }
  
    .nav.active .hamburger::before {
      transform: rotate(135deg);
    }
  
    .nav.active .hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }

.admin{
  background: #555353;
}

.cadastrado{
 background-color: rgb(94, 96, 97);
 color: #fff;
max-width: 500px;
width: 70%;
padding: 20px;
position: absolute;
left: 100;
top: 0%;
transform: translate(-10%, -10%);
text-align: center;
font-family: 'Courier New', Courier, monospace;
}

.titulo{
  color: cyan;
}
.rodape__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;;
  margin-top: 1em;
}

.lista__link a{
  text-decoration: none;
  color: var(--branco-principal);
  margin: 1em;
}

.rodape__texto{
  margin: 1em 0;
  color: var(--cinza-secundaria);
  font-size: 14px;
}

.rodape {
  text-align: center;
  margin: 5em 3em;
}

.lista__link a:hover{
  color: var(--botao-azul);
}

.lista__link a:active{
  color: aqua;
}

.container__botao:hover{
  background-color: var(--botao-azul-efeito);
  color: var(--cor-de-fundo);
}

